.orderAdd {
    width: 75vw;
    margin: 10px auto;
    background-color: rgb(0,168,255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.orderAdd_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0px auto;
}
.orderAdd_form_order {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items:stretch;
    margin: 0px auto;
}
.orderAdd_form_order div {
    margin: 10px;
}
.orderAdd_form_order input {
    text-align: center;
}
.btnOrderAdd {
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: #0693e3;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.choiceOptions {
    width: 100%;
    position: relative;
}
.choiceOptions ul {
    list-style-type: none;
    overflow: auto;
    position: absolute;
    background-color: azure;
    box-sizing: border-box;
    height: 50px;
}
.choiceOptions li :focus {
    background-color: blueviolet;
}

