.headerOrder {
    width: 75vw;
    margin: 10px auto;
    background-color: rgb(0,168,255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.headerOrder ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.headerOrder li {
    cursor: pointer;
    width: 100%;
}

.activeYearOrder {
    border: 2px solid #000;
}