.userRegAuth_body {
    width: 35vw;
    height: 80%;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.userRegAuth_body_choiceRegAuth {
    width: 100%;
    display: flex;
    padding: 0px;
    cursor: grab;
}
.userRegAuth_body_choiceRegAuth h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid black;
    margin: 0px;
}

.active_choiceRegAuth {
    background-color: #0693e3;
    color: white;
    border-bottom: 5px solid black;
}

.reg_auth_form {
    width: 100%;
    /* height: 80%; */
    margin: 0px auto;
}

.form_input{
    width: 75%;
    text-align: start;
    margin: 15px auto 0px auto;
}

.form_check{
    width: 75%;
    text-align: start;
    margin: 0px auto;
    display: flex;
}

.form_input input{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.form_submit {
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: #0693e3;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form_reg_auth_spinner{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0693e3;
    border-radius: 5px;
    border: 0px;
    margin: 30px auto 30px auto;
}

.submitBtn{
    position: relative;
}

.errorMessage {
    position: absolute;
    bottom: 20px;
    width: 100%;
    opacity: 0.7;
}

.errorMessage div {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: red;
    margin: 0px auto;
}
.errorMessage p {
    width: 100%;
    text-align: center;
}
.error, .error p {
    color: #e53e3e;
    /* margin-top: 8px; */
}
.succesMes {
    color: green;
    transition: opacity 1s;
}
.recPassBtn, .regAutBtn {
    color: rgb(49, 0, 128);
    cursor: grab;
}

