.header {
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0693e3;
}

.logo img{
    width: 250px;
    margin-left: 5vw;
}

.nav ul {
    display: flex;
    margin-right: 3vw;
}

.nav ul li {
    color: white;
    margin-right: 2vw;
    list-style-type: none;
    cursor: grab;
}

.userName {
    color: white;
    margin-right: 5vw;
    list-style-type: none;
    cursor: grab;
}