.userRegAuth_body {
    width: 25vw;
    height: 80%;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    padding: 0px;
}

.userRegAuth_body_choiceRegAuth {
    width: 100%;
    display: flex;
    padding: 0px;
    cursor: grab;
}